html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

.section--1{
    background-color: #fff;    
    padding-top: 2em;
    padding-bottom: 2em;
}

.section--2{
    background-color:#E5E5E5;
    padding-top: 2em;
    padding-bottom: 2em;
}

.navigation-bar{
    /* gap: 1em; */
    background-color: #354955;
    height: 50px;
    display: flex;
    justify-content: center; /* centerlised the nav-bar  elements */
    align-items: center;
}

.nav-link{
    color: #fff;
}

.hero{
    background-color: #1F2428;
    /*height: 100vh;*/ /* vh : viewport */
    /* height: 70vh; */
    min-height: auto;
    /* min-height: 70vh; */
    /* min-height: 60vh; */
    color: white;
}

#profile_pic{
    height: 200px;
    width: 200px;
    object-fit: cover; /* Set the image height and width */
    border-radius: 50%;
    /* border: black 3px solid; */
    /* margin-top: 20px; */
}

.hero--content{
    width: 800px;
    margin: 0px auto; 
    padding: 3em;
    /* background-color: black; */
}

.hero--content--intro{
    /* padding-top: 3em; */
    display: flex;
    color:white;
    justify-content: center;
    align-items: center; /* Both profile pic and user name in same alignment */
    gap: 2em;
    /* background-color: black; */
    margin-bottom: 3em;
}

.intro--name{
    font-size: 80px;
    letter-spacing: .1em;
    font-weight: 700;
    line-height: .9em;
}

.description{
    font-size: 65px;
    /* letter-spacing: 0.16em; */
    /* float: left; */
    text-align: center;
}

.slogan{
    font-size: 24px;
    /* letter-spacing: 0.16em; */
    /* float: left; */
    text-align: center;
}

.projects--wrapper{
    display: flex;
    justify-content: flex-start;
    gap: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    overflow-x: auto;

    /* overflow-x: scroll; */
    /* display: grid; */
    /* display: flex; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* justify-content: flex-start; */
    /* overflow-x: auto; */
    /* -------------------------------- */
    /* display: flex;   */
    /*justify-content: flex-start;*/ /* everything starts with left */
}

.projects--wrapper::-webkit-scrollbar {
    width: 2px;
}

.projects--wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.projects--wrapper::-webkit-scrollbar-thumb {
    background-color: #197c8b;
    outline: 0px solid slategrey;
    border-radius: 100px;
}

.projects--wrapper::-webkit-scrollbar-thumb:hover{
    background-color: #197c8b;
}

.project--column{
    min-width: 300px;
    /* width: 300px; */
    /* margin: 10px; */
}

.project--thumbnail{
    width: 100%;
    height: auto;
    object-fit: cover;
    /* border: 3px black solid; */
    /* border-radius: 20px; */
    /* height: 350px;  */
}

.project-body{
    background-color: white;
    padding: 1em;
}

.skills--container{
    width: 600px;
    margin: 0 auto;
    padding: 1em;
    /* background-color: black; */
}

.skills--wrapper{ 
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
    gap: 2em;
    align-items: center;
    /* align-items: start; */
}
.skill--logo{
    /* height: 60px; */
    width: 60px;
    object-fit: contain;
}

.other--skills-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.skill-tag{ 
    background-color: #C4E7F2;
    /* width: auto; */
    width: fit-content; /* width of element is equal to content inside element */
    padding: 3px 20px;
    border-radius: 20px;
    display: flex;
}

.project--image{
    max-width: 700px;
}

.contact--form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    /* background-color: black; */
}

@media (max-width:900px) {
    .hero--content--intro{
        flex-direction: column;
    }
    /* .projects--wrapper{
        grid-template-columns: 1fr;
    } */
}

@media (max-width:600px) {
    .skills--container{
        width: 100%;
        /* background-color:chocolate; */
        /* margin: 0 auto; */
        /* background-color: black; */
    }
}

@media (max-width:400px) {
    .skills--wrapper{ 
        flex-flow: column;
    }
}

@media (max-width:800px) {
    .hero--content{
        width: 100%;
        /* margin: 0px auto;  */
        /* padding: 3em; */
        background-color: black;
    }
    /* .intro--name{
        width: 100%;
    } */
}




